
#liste{
    width:200px;
    height: 700px;
    float: left;
    background-color: #f1f1f1;
    margin: auto;
    border-right-style: solid;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
.im{
  background-color: #f1f1f1;
}
img{
  width:200px;
  height: 100px;
}